<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <link rel="stylesheet" href="../../../src/template/tokens.css" />
    </head>
    <body>
        <div class="page">
            <div
                class="tokens"
                style="grid-gap: {{tokenGutter}}px; grid-template-columns: repeat(auto-fill, {{largeTokenSize}}px);"
            >
                {{#each roles}}
                <div
                    class="token-holder"
                    style="width: {{../largeTokenSize}}px; height: {{../largeTokenSize}}px"
                >
                    <img
                        src="{{this.image}}"
                        width="{{../largeTokenSize}}px"
                        height="{{../largeTokenSize}}px"
                    />
                </div>
                {{/each}}
            </div>
        </div>
    </body>
</html>
