<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <link rel="stylesheet" href="../../../src/template/tokens.css" />
    </head>
    <body>
        {{#each tokenPages as | page |}}
        <div
            class="page"
            style="width: {{../layoutSizes/pageWidth}}px; height: {{../layoutSizes.pageHeight}}px;"
        >
            <div
                class="printable-area"
                style="width: {{../layoutSizes.printableWidth}}px; height: {{../layoutSizes.printableHeight}}px"
            >
                <div class="tokens">
                    {{#each page as | row |}}
                    <div class="row">
                        {{#each row as | token |}} {{#if (isRole token.type)}}
                        <div
                            class="token-holder"
                            style="width: {{../../../layoutSizes.role.tokenAreaSize}}px; height: {{../../../layoutSizes.role.tokenAreaSize}}px;"
                        >
                            <div
                                class="token"
                                style="width: {{../../../layoutSizes.role.tokenSize}}px; height: {{../../../layoutSizes.role.tokenSize}}px;"
                            >
                                {{#with (lookup ../../../roleData [id])}}
                                <svg
                                    width="{{../../../../layoutSizes.role.tokenSize}}px"
                                    height="{{../../../../layoutSizes.role.tokenSize}}px"
                                    viewbox="0 0 {{../../../../layoutSizes.role.tokenSize}} {{../../../../layoutSizes.role.tokenSize}}"
                                    xmlns="http://www.w3.org/2000/svg"
                                >
                                    <defs>
                                        <path
                                            d="{{../../../../layoutSizes.role.layoutCirclePath}}"
                                            stroke="black"
                                            stroke-width="3"
                                            fill="transparent"
                                            id="layout-circle"
                                        />
                                    </defs>
                                    <text class="token-text">
                                        <textPath xlink:href="#layout-circle">
                                            {{name}}
                                        </textPath>
                                    </text>
                                    <image
                                        href="{{image}}"
                                        width="80%"
                                        height="80%"
                                    />
                                </svg>
                                {{/with}}
                            </div>
                        </div>
                        {{else}}
                        <div
                            class="token-holder"
                            style="width: {{../../../layoutSizes.reminder.tokenAreaSize}}px; height: {{../../../layoutSizes.reminder.tokenAreaSize}}px;"
                        >
                            <div
                                class="token"
                                style="width: {{../../../layoutSizes.reminder.tokenSize}}px; height: {{../../../layoutSizes.reminder.tokenSize}}px;"
                            >
                                {{#with (lookup ../../../roleData [id])}}
                                <svg
                                    width="{{../../../../layoutSizes.reminder.tokenSize}}px"
                                    height="{{../../../../layoutSizes.reminder.tokenSize}}px"
                                    xmlns="http://www.w3.org/2000/svg"
                                >
                                    <image
                                        href="{{image}}"
                                        width="{{../../../../layoutSizes.reminder.tokenSize}}px"
                                        height="{{../../../../layoutSizes.reminder.tokenSize}}px"
                                    />
                                </svg>
                                {{/with}}
                            </div>
                        </div>

                        {{/if}} {{/each}}
                    </div>
                    {{/each}}
                </div>
            </div>
        </div>
        {{/each}}
    </body>
</html>
